body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #6a11cb rgba(0, 0, 0, 0.1);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
